// fuentes
$raleway: 'Raleway', serif;
// colores  
$teal: teal;
$blanco: #ffffff;
$azulclaro: lightblue;
$salmon: salmon;
$sec: #741d51;
$ter: #e44e52;
$gris: #f2f2f2;
$negro: #000000;
// dispositivos
$telefono:480px;
$tablet:768px;
$desktop:1024px;